<head>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</head>

{% block content %}
    This is a maze generator

    <form method="post" action="/">
        <input type="submit" value="GENERATE" name="generate"/>
    </form>

    <form method="get" action="/download">
        <input type="submit" value="DOWNLOAD" name="download"/>
    </form>

    <pre onclick=logMessage('themazewasclicked')>{{ data.maze | safe }}<pre>

{% endblock %}
